<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/css/style.min.css' />
  </head>
  <body>
    <header class="topbar">
  		<div class="logo">
  			<a href="#">Offer</a>
  		</div>
  		<nav class="topMenu">
  			<a href="#">留学论坛</a>
  			<a href="">留学案例</a>
  			<a href="">留学讲堂</a>
  			<a href="">留学商城</a>
  			<a href="">院校专业库</a>
  		</nav>
  		<div class="userinfo">
  			<a href="">注册</a>
  			<a href="">登录</a>
  		</div>
  		<div class="clear"></div>
  	</header>
  </body>
</html>
